@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1%;
    padding-bottom: 2%;
}

.content-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-gap: 10%;
    width: 60%;
    border: medium dotted black;
    padding: 2%;
}

.board-names-container {
    grid-row: 1 / 2;
}

.boards-container {
    grid-row: 2 / 3;
}

.board-names-container, .boards-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}