@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1%;
    padding-bottom: 2%;
}

.content-container {
    border: medium dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 60%;
    gap: 25%;
    padding: 2%;
    align-items: center;
}

.board-names-container {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 75%;
    align-items: center;
}

.boards-container {
    border: medium dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    gap: 55%;
    padding: 5%;
}

.player-board, .cpu-board {
    text-align: center;
    border: medium dashed red;
    padding: 2%;
    width: 50%;
    height: 80%;
}